# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# (Note: we don't ignore standard .env here if you want it pushed, but usually .env is ignored. We'll only ignore local variations to be safe, but feel free to uncomment .env if you have secrets)
# .env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma sqlite dbs
*.db
*.db-journal

# uploads / temp media
/public/uploads/
.tempmediaStorage/

# Prisma custom generated client
/src/generated/
